@charset "utf-8";
@import "variables.css";
@import "angular-material/angular-material.css";
@import "vendor/md-data-table.css";
@import "sidebar.css";

body {
  color: var(--textColor);
  font-family: Roboto, Helvetica, Arial, sans-serif;

  /* font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif; */

  & .modal {
    color: #777;
  }

}


a[ng-click] {
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

html.md-default-theme,
html,
body.md-default-theme,
body,
md-icon.md-default-theme,
md-icon {
  color: var(--textColor);
}

md-sidenav.ttn-sidebar {
  width: 320px;
  background: var(--darkBgColor);
  color: var(--text2ndOnDColor);

  & a.md-button.md-default-theme.md-primary,
  & a.md-button.md-primary,
  & md-icon.md-default-theme,
  & md-icon {
    color: var(--text2ndOnDColor);

    & md-icon.md-default-theme,
    & md-icon {
      color: var(--text2ndOnDColor);
      margin: -5px 5px 0 0;
    }

    &:hover {
      color: white;

      & md-icon.md-default-theme,
      & md-icon {
        color: white;
      }

    }
  }

  & .md-headline {
    color: white;
    margin-top: 80px;
  }

  & header {
    height: 80px;
    display: flex;
    align-items: center;

    & a.logo {
      flex: 0 0;
      padding: 0 16px;
      & md-icon {
        width: 50px;
        height: 50px;
      }
    }

    & .md-headline {
      margin-top: 0;
    }

    & > div {
      flex: 1;
    }
  }

  & a {
    color: var(--text2ndOnDColor);
    transition: color .1s ease;

    &:hover {
      color: white;
    }
  }
}

#titan-app {
  /* layout */
  & md-content.md-default-theme,
  & md-content {
    color: var(--textColor);
  }

  /* buttons */
  & .md-button.md-default-theme.md-warn.md-raised,
  & .md-button.md-warn.md-raised,
  & .md-button.md-default-theme.md-warn.md-fab,
  & .md-button.md-warn.md-fab,
  & .md-button.md-default-theme.md-hue-2.md-warn.md-raised,
  & .md-button.md-hue-2.md-warn.md-raised,
  & .md-button.md-default-theme.md-hue-2.md-warn.md-fab,
  & .md-button.md-hue-2.md-warn.md-fab,
  & .md-button.md-default-theme.md-primary.md-raised,
  & .md-button.md-primary.md-raised,
  & .md-button.md-default-theme.md-primary.md-fab,
  & .md-button.md-primary.md-fab {
    color: white;

    & svg {
      fill: white;
    }
  }

  & .md-button.md-default-theme.md-fab,
  & .md-button.md-fab,
  & .md-button.md-default-theme.md-fab md-icon,
  & .md-button.md-fab md-icon,
  & .md-button.md-default-theme.md-hue-1.md-accent.md-raised,
  & .md-button.md-hue-1.md-accent.md-raised,
  & .md-button.md-default-theme.md-hue-1.md-accent.md-fab,
  & .md-button.md-hue-1.md-accent.md-fab {
    color: var(--textColor);
  }

  & .md-button.md-default-theme.md-primary.md-raised:not([disabled]) md-icon,
  & .md-button.md-primary.md-raised:not([disabled]) md-icon,
  & .md-button.md-default-theme.md-primary.md-fab:not([disabled]) md-icon,
  & .md-button.md-primary.md-fab:not([disabled]) md-icon {
    color: white;
  }

  /* table */
  & table.md-table .md-cell {
    color: var(--textColor);
  }

  /* angular material custom */
  & md-toolbar.md-default-theme:not(.md-menu-toolbar),
  & md-toolbar:not(.md-menu-toolbar) {
    background: var(--darkBgColor);
    color: white;

    & a {
      color: var(--text2ndOnDColor);
      transition: color .1s ease;

      &:hover {
        color: white;
      }
    }
  }
}
