@charset "utf-8";
@import "bootstrap";
@import "variables.css";
@import "angular-material/angular-material.css";
@import "vendor/test-vendor.css";

body {
  color: var(--mainColor);
  font-family: 'Roboto', sans-serif;

  & .modal {
    color: #777;
  }

}
