/* Hide for mobile, show later */
.sidebar {
  display: none;
  color: white;
  background: #2E2E2E;

  & .navbar-brand {
    float: none;
    display: block;
    padding: 0;
    margin-bottom: 30px;
    & svg {
      width: 100%;
    }
  }

  & h4 {
    margin-bottom: 30px;
  }

  & p {
    font-size: 12px;
    color: rgba(255,255,255,.35);
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;

    /* Scrollable contents if viewport is shorter than content. */
    overflow-y: auto;

    /* Sidebar navigation */
    & .nav-sidebar {
      margin-right: -21px; /* 20px padding + 1px border */
      margin-bottom: 20px;
      margin-left: -20px;

      & > li > a {
        padding-right: 20px;
        padding-left: 20px;
        color: rgba(255,255,255,.75);
      }
      & > li > a:hover,
      & > li > a:focus,
      & > li > a:active:hover {
        color: white;
        background-color: rgba(#7E38FF, .25);
      }
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        color: white;
        background-color: #7E38FF;
      }
    }
  }
}

.navbar-inverse {
  background-color: #2E2E2E;
  border: none;
  display: block;

  & .navbar-brand {
    padding: 13px 0 0 23px;

    & svg {
      width: 100px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-inverse {
    display: none;
  }
}
