<md-content flex
            id="content"
            class="ng-cloak">
  <div>


  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Jobs List</span>
        <md-button ng-click="showNewJobDialog($event)">New Job</md-button>
        <md-button ng-click="reloadGroupJobs()">Reload</md-button>
    </div>
  </md-toolbar>

  <div ng-if="groupJobs == null">loading ....</div>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise" ng-if="groupJobs != null">
      <thead md-head md-order="myOrder" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-order-by="nameToLower"><span>ID</span></th>
          <th md-column md-order-by="nameToLower"><span>Status</span></th>
          <th md-column>Image</th>
          <th md-column md-numeric title="Priority">Pr</th>
          <th md-column md-numeric>Created</th>
          <th md-column md-numeric>Started</th>
          <th md-column md-numeric>Completed</th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>

        <tr md-row md-select="job" md-select-id="name" md-auto-select ng-repeat="job in groupJobs | orderBy: myOrder">
          <td md-cell md-order-by="nameToLower">{{job.id}}</td>
          <td md-cell>
            <span ng-if="job.status != 'error'">{{job.status}}</span>
            <a ng-if="job.status == 'error'" ng-click="showError($event, job)">error</a>
          </td>
          <td md-cell>{{job.image}}</td>
          <td md-cell>{{job.priority}}</td>
          <td md-cell>{{job.created_at| date: 'HH:mm MM/dd/yyyy'}}</td>
          <td md-cell>{{job.started_at| date: 'HH:mm MM/dd/yyyy'}}</td>
          <td md-cell>{{job.completed_at| date: 'HH:mm MM/dd/yyyy'}}</td>
          <td md-cell>
            <md-button ng-click="showJobDetails(job)">
              Details
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="currentPage" md-total="{{groupJobs.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>



    <div class="btn-group" ng-if="groupJobs != null">

      <span>Jobs <b>{{currentPage * $parent.perPage + (groupJobs.length ? 1 : 0)}}-{{currentPage * $parent.perPage + groupJobs.length}}</b></span>



      <div>
        <button type="button" class="btn btn-default" ng-click="previousPage()" ng-class="{disabled: currentPage == 0 || isLoading}">
          < <i class="fa fa-chevron-left"></i>&nbsp;Prev
        </button>

        <button type="button" class="btn btn-default disabled">{{currentPage + 1}}</button>

        <!-- BUG - remove +1 then fixed -->
        <button type="button" class="btn btn-default" ng-click="nextPage()" ng-class="{disabled: (groupJobs.length + 1) < perPage || isLoading}">
          Next&nbsp;&nbsp;&nbsp;
          <i class="fa fa-chevron-right"></i> >
        </button>

        <div>
          Max Concurrency:
          <span ng-if="selectedGroup.max_concurrency">{{selectedGroup.max_concurrency | number}}</span>
          <span ng-if="!selectedGroup.max_concurrency">-</span>

        </div>

      </div>
    </div>

  </div>

</md-content>

<md-sidenav md-component-id="right"
            md-disable-backdrop
            class="md-sidenav-right md-whiteframe-4dp ng-cloak">
  <md-toolbar class="md-theme-light" layout-padding>
    <h1 class="md-toolbar-tools">
      <div>
        Job #{{selectedJob.id}}<br>
        {{selectedJob.image}}<br>
        {{selectedJob.priority}}<br>
        <!-- retries_delay: {{selectedJob.retries_delay}}<br>
        timeout: {{selectedJob.timeout}}<br> -->
      </div>
    </h1>
    <h2>
      Status:<br>
      <span>{{selectedJob.status}}</span>

      <md-button ng-click="cancelJob(selectedJob)" ng-if="selectedJob.status == 'queued' || selectedJob.status == 'running' || selectedJob.status == 'delayed'">cancel</md-button>
      <md-button ng-click="retryJob(selectedJob)" ng-if="selectedJob.status == 'cancelled' || selectedJob.status == 'error' || selectedJob.status == '??'">retry</md-button>
      <md-button ng-click="showLog($event, selectedJob)" ng-if="selectedJob.status == 'success' || selectedJob.status == 'error'">log</md-button>
    </h2>
  </md-toolbar>
  <md-content layout-padding>
    <div>
      <h2>Payload</h2>
      <pre>{{formattedPayload(selectedJob)}}</pre>
    </div>

    <div>
      <h2>History</h2>

      <div>
        <div>
          {{selectedJob.created_at| date: 'HH:mm MM/dd/yyyy'}} Created
        </div>
        <div>
          {{selectedJob.started_at| date: 'HH:mm MM/dd/yyyy'}} Queued
        </div>
        <div>
          {{selectedJob.completed_at| date: 'HH:mm MM/dd/yyyy'}} Completed
        </div>
      </div>
    </div>

    <md-button ng-click="toggleJobDetails()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>
