<md-content flex
            id="content"
            class="ng-cloak">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      {{apps.length}} Apps
      <md-button class="md-fab md-primary md-button md-ink-ripple" ng-click="showNewAppDialog($event)">
        <md-tooltip>
          Create New App
        </md-tooltip>
        <md-icon md-svg-src="./images/icons/plus.svg" aria-label="Create New App"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-table-container layout-padding>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
      <thead md-head md-order="query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-order-by="app.name">
            <span>App Name</span>
          </th>
          <th md-column md-numeric >
            <span>Created</span>
          </th>
          <th md-column>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row
            ng-repeat="app in apps"
            ng-click="selectApp(app)"
            ng-href="#/app/{{app.name}}">
          <td md-cell>
            <md-button href="#/apps/{{app.name}}">
              {{app.name}}
            </md-button>
          </td>
          <!--
          <td md-cell>
            <i>{{app.created_at| date: 'HH:mm MM/dd/yyyy' }}</i>
          </td>
          -->
          <!--
          <td md-cell>
            <md-menu md-position-mode="target-right target">
              <md-button class="md-icon-button" aria-label="More" ng-click="openAppMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin md-svg-icon="./images/icons/more_vert.svg"></md-icon>
              </md-button>

              <!- -<md-menu-content width="3" ng-controller="RoutesController">- ->
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-click="showEditAppDialog(app)">
                    <md-icon md-menu-align-target md-svg-icon="./images/icons/more_vert.svg"></md-icon>
                    Edit App
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button ng-click="showEditAppDialog(app)">
                    <md-icon  md-svg-icon="./images/icons/more_vert.svg"></md-icon>
                    Remove App
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
          -->
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-content>
