<md-dialog aria-label="New Group" ng-cloak>
  <form ng-submit="createGroup()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Group</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Name *</label>
          <input ng-model="group.name">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Image</label>
          <input ng-model="group.image">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="createGroup()">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>