<md-content class="buttondemoBasicUsage">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">Flat</div>
      <md-button>{{title1}}</md-button>
      <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
      <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
      <md-button class="md-warn">{{title4}}</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">Raised</div>
      <md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">FAB</div>
        <md-button class="md-fab" aria-label="Eat cake">
          <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon md-svg-icon="./images/icons/plus.svg"></md-icon>
        </md-button>
        <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
            <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
            <md-icon md-svg-icon="./images/icons/more_vert.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Eat cake">
            <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
          <md-icon md-svg-icon="./images/icons/plus.svg"></md-icon>
        </md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">Link vs. Button</div>
        <md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
        <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>
        <md-button>Default Button</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">Themed</div>
      <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
      <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <div class="label" style="float:left;">Icon Button</div>
      <md-button class="md-icon-button md-primary" aria-label="Settings">
        <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" aria-label="Favorite">
        <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
      </md-button>
      <md-button href="http://google.com"
                 title="Launch Google.com in new window"
                 target="_blank"
                 ng-disabled="true"
                 aria-label="Google.com"
                 class="md-icon-button launch" >
        <md-icon md-svg-icon="./images/icons/wrench.svg"></md-icon>
      </md-button>
    </section>
  </md-content>

  <style>
  .buttondemoBasicUsage section {
    position: relative;
    background: #f8f8f8;
    margin: 0 0 10px;
  }
  .buttondemoBasicUsage .label {
  position: absolute;
  top: 30%;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
  </style>
